body {
	background-color: black;
	color: white;
	font-family: "Courier New";
	font-weight: bold;
	line-height: 20px;
}
table {
	border-collapse:collapse;
	font-weight: bold;
}
.postinfo > * {
	white-space: pre;
}
.menu > * > * {
	white-space: initial;
}
.title {
	white-space: inherit;
}
.postimage {
    width:100%;
    max-width: 690px;
}